# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

*.aux
*.log
*.metadata
*.out
*.nav
*.toc
*.snm
*.ps
*.tar.gz
*~
*.class
Reseau/clientTCP
Reseau/serveurTCP
ProjetP4/.metadata
ProjetP4/puissance4/bin
Graphe/tp4
